*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;
    transition:0.5s;
}

.container{
    width:100%;
    min-height:100vh;
    padding:10px;
    
}

.todo-list{
    flex-direction:column;
    display:flex;
    width:100%;
    max-height:500px;
    background:yellow;
    border-radius:10px;
    padding:40px 30px 70px;
    position:relative;
    z-index: 1;
   
}
.todos{
    display:flex; 
    align-items: center; 
    justify-content:center;
    column-gap: 2rem;
}
.todo-list h1{
    font-size:45px;
    color:#002765;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 20px;
}

.todo-list h1 img{
    width:50px;
    margin-left:10px;
}
.create-list{
    display:flex;
    width:45%;
    align-items:center;
    justify-content:space-between;
    background:#edeef0;
    border-radius:30px;
    padding:5px;
}
.create-list input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:5px;
    font-weight:14px;
}
.add-task{ 
    display:flex;
    border:none;
    padding:10px;
    background: #f8872b;;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    border-radius:40px;
}

ul li{
    display:flex;
    list-style:none;
    font-size:17px;
    padding:12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position:relative;
}

ul li::before{
    content:'';
    position:absolute;
    height:28px;
    width:28px;
    border-radius:50%;
    background-image:url(images/unchecked-1.png);
    background-size:cover;
    top:8px;
    background-position:center;
    left:8px;
}

ul li.checked{
    color:#555;
    text-decoration:line-through;
}

ul li.checked::before{
    background-image: url(images/check-mrak.png);
}

.search-top input[type="text"]{
    border:none;
    font-size:14px;
    color:#fff;
    height:2rem;
    width:8rem;
    border-radius:1rem;
    outline:none;
    padding:5px;
    background-color:#f8872b;
}
ul li span{
    position:absolute;
    right:45px;
    top:5px;
    width:40px;
    height:40px;
    font-size:22px;
    line-height:40px;
    color:#555;
    text-align:center;
    border-radius:50%;
}

ul li span:hover{
    background: #edeef0;
}

.search-top{
    display:flex;
    width:30%;
    align-items:center;
    justify-content:space-between;
    background:#f8872b;
    border-radius:30px;
    padding:5px;
}

.fetch-task{
    display:flex;
    border:none;
    align-items:center;
    padding:10px;
    background: #fff;
    font-size:16px;
    cursor:pointer;
    border-radius:20px;
}
.list{
    width:45%;

}

.edit{
    position:absolute;
    margin-left:10rem;
    top:2px;
    display:flex;
    background: transparent;
    color: #007bff; 
    border: none;
    cursor: pointer;
    font-size: 18px; 
    padding: 5px;
    transition: color 0.3s ease;
}

input.display-top{
    display:none;
}

.display{
    width:100%;
    height:100vh;
   
    justify-content:center;
    background:#fff;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}

.my-label{
    height:50px;
    width:100px;
    background: #f3f3f3;
    left:90%;
    display:flex;
    align-items:center;
    border-radius:99px;
    box-shadow:10px 10px 30px rgba(0,0,0,0.05) inset;
    cursor:pointer;
    position:relative;
}

.circle{
    width:30px;
    height:30px;
    box-shadow:10px 10px 20px rgba(0,0,0,0.05), -10px -10px 30px rgba(0,0,0,0.05) inset;
    background:#fff;
    border-radius:15px;
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(10%,-50%);
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

svg{
    width:30px;
    position:absolute;
}

.sun{
    color:#f8872b;
    margin-top:0%;
    opacity:1;
}

.moon{
    margin-top:-150%;
    color:#fff;
    opacity:0;
}
 
input[type=checkbox]:checked + .display{
    background:#2c2c2f;
}

input[type=checkbox]:checked + .display label {
    background:#1f1f21;
    box-shadow:10px 10px 30px rgba(0,0,0,0.5) inset;
}

input[type=checkbox]:checked + .display label .circle{
    left:100%;
    transform:translate(-110%, -50%);
    background:#2c2c2f;
    box-shadow:10px 10px 20px rgba(0,0,0,0.5), -10px -10px 30px rgba(0,0,0,0.5) inset;
}

input[type=checkbox]:checked + .display label .circle .sun{
    margin-top:150%;
    opacity:0;
}
input[type=checkbox]:checked + .display label .circle .moon{
    margin-top:0%;
    opacity:1;
}


label:active .circle{
    width:50px;
}
